
    body {
      background: #eeeeee;
      padding: 40px;
      font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
    }

    #app {
      font-size: 16px;
      animation: clock-in .5s;
    }

    #app[v-cloak] {
      opacity: 0;
    }

    @keyframes clock-in {
      0% {
        opacity: 0;
      }
    }

    li,
    ul,
    dt,
    dd {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    #addForm {
      margin-bottom: 20px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.1);
    }

    #addForm input {
      font-size: 18px;
    }

    input:focus {
      outline: none;
    }

    .card {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      width: 800px;
      box-sizing: border-box;
      background: #fff;
      margin: 0 auto;
      position: relative;
    }

    .btn_add {
      background: rgb(29, 218, 155);
      color: #fff;
      font-size: 16px;
      border: none;
      padding: 3px 15px;
      margin-left: 10px;
    }

    button {
      border-radius: 5px;
      padding: 3px 10px;
      cursor: pointer;
      outline: none;
    }

    .add_todo {
      width: 60%;
      padding: 5px;
      border: 1px solid #777;
      border: none;
    }

    #taskList {
      padding: 5px 20px 30px;
      overflow: hidden;
    }

    #taskList .taskList__wrap {
      padding: 10px 5px 10px 15px;
      margin-bottom: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }

    #taskList .taskList__wrap:hover {
      background: #fffdf6;
    }

    li.comp {
      background: rgb(238, 255, 236);
    }

    li.over {
      background: rgb(255, 226, 218);
      color: red;
    }

    li span.limit {
      color: red;
    }

    .list_text {
      width: 350px;
      display: inline-block;
      font-size: 1.1rem;
    }

    .comp .list_text {
      text-decoration: line-through;
    }
    .list_status {
      display: inline-block;
      width: 45px;
      padding: 1px 8px;
      font-size: .9rem;
      color: #fff;
      text-align: center;
      border-radius: 50px;
    }

    .yet .list_status {
      background: #ff7c8e;
    }

    .work .list_status {
      background: #acbb23;
    }

    .comp .list_status {
      background: #23bb8a;
    }
    li input {
      width: 290px;
      font-size: 16px;
      padding: 5px;
    }
    li select {
      font-size: 14px;
    }
    li .btn_remove {
      border-radius: 5px;
      background: #f1f1f1;
      font-size: 14px;
    }
    input[placeholder="YYYY-MM-DD"] {
      min-width: 120px !important;
      width: 120px;
      display: block;
      border-radius: 5px;
      border: 1px solid #cdcdcd;
      padding: 3px 5px;
      color: #666;
    }
    .no-task {
      text-align: center;
      transition: 1s;
      transition-delay: 1s;
      position: absolute;
      width: 100%;
      top: 140px;
    }
    .slide-enter-active,
    .slide-leave-active {
      transition: 0.3s;
      transform: translateX(0);
    }
    .slide-enter,
    .slide-leave-to {
      transform: translateX(-1000px);
    }
    .fade-enter-active,
    .fade-leave-active {
      transition: 0.3s;
      transform: translateX(0);
    }
    .fade-enter,
    .fade-leave-to {
      transform: translateX(1000px);
    }
  

    #list-modal {
      position: fixed;
      width: 100%;
      background: rgba(0, 0, 0, .5);
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 60px;
      box-sizing: border-box;
    }

    .list-modal__box {
      width: 500px;
      background: #fff;
      padding: 30px;
      border-radius: 5px;
    }

    .list-modal__box h2 {
      margin: 0 0 20px;
    }

    .list-modal__box dt {
      font-size: 1.1em;
    }

    .list-modal__box dd {
      margin-bottom: 10px;
    }

    .list-modal__box button {
      width: 300px;
      background: rgb(83, 202, 142);
      color: #fff;
      font-size: 1.2em;
      padding: 10px 0;
      cursor: pointer;
      margin-top: 20px;
    }

    .list-modal__box__date {
      width: 135px;
    }
  

    .filter_wrap {
      display: flex;
      align-items: center;
      margin: 0 20px 30px;
    }

    .filter_lists {
      display: flex;
      margin-right: 30px;
    }

    .filter_lists li {
      border: 1px solid #999;
      border-radius: 20px;
      padding: 2px 15px;
      font-size: .9rem;
      margin-right: 5px;
      cursor: pointer;
    }

    .filter_lists li:hover {
      background: rgb(241, 241, 241);
    }

    .filter_limit_botton {
      color: red;
      border: 1px solid;
      font-size: 0.9em;
    }

    .filter_limit_botton.limitOn {
      background: red;
      color: #fff;
    }

    .list-count {
      margin-left: 280px;
    }

    .filteringButton {
      background: #444 !important;
      color: #fff !important;
    }
  